    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="text-center mt-5" style="color: #757575;">

      <div class="form-row">
        <div class="col">         
          <div class="text-justify">
            <label class="text-justify">SpaceType</label>
            <select  mdbInput mdbValidate formControlName="space"  class="capacity form-control" >
              <option *ngFor="let val of selectSpaceType" [ngValue]="val.value">
                {{ val.value }}
              </option>              
            </select>              
          </div>
        </div>

        <div class="col">
          <div class="text-justify">
            <label class="text-justify">Name</label>
            <input type="text" id="name" class="form-control" mdbInput mdbValidate>            
          </div>
        </div>
      </div>
      <div class="form-row">        
        <div class="col">
          <div class="md-form">
            <input type="text" id="location" class="form-control" mdbInput mdbValidate>
            <label for="location">Location</label>
          </div>
        </div>
        <div class="col">
          <div class="md-form">
            <input type="text" id="price" class="form-control" mdbInput mdbValidate>
            <label for="price">Price</label>
          </div>
        </div>

      </div>
      <div class="form-row">        
       
        <div class="col">
          <div class="md-form">
            <input type="text" id="img" class="form-control" mdbInput mdbValidate>
            <label for="img">Image List</label>
          </div>
        </div>

      </div>
      <div class="form-row">        
       
        <div class="col">
          <div class="md-form">
            <textarea type="text" id="description" class="form-control md-textarea" mdbInput mdbValidate></textarea>
            <label for="description">Description</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 mx-auto d-flex justify-content-center">
          <mdb-checkbox>Wifi</mdb-checkbox>
        </div>
        <div class="col-md-2 mx-auto d-flex justify-content-center">
          <mdb-checkbox>Breakfast</mdb-checkbox>
        </div>
        <div class="col-md-2 mx-auto d-flex justify-content-center">
          <mdb-checkbox>Projector</mdb-checkbox>
        </div>
        <div class="col-md-2 mx-auto d-flex justify-content-center">
          <mdb-checkbox>Tv</mdb-checkbox>
        </div>
        <div class="col-md-2 mx-auto d-flex justify-content-center">
          <mdb-checkbox>WhiteBoard</mdb-checkbox>
        </div>
      </div>
    
     

      <button mdbBtn color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
        type="submit">Add Space</button>

    </form>
    
   