<app-user-nav></app-user-nav>
<div class=" reset">
    <div class="row">
        <!-- Material form subscription -->
<mdb-card>

    <mdb-card-header class="warning-color white-text text-center py-4">
      <h5>
        <strong>Reset Password</strong>
      </h5>
    </mdb-card-header>
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5">
  
      <!-- Form -->
      <form class="text-center" style="color: #757575;">
  
        <p>A reset email will be sent to your mail for confirmation</p>
  
        <!-- E-mai -->
        <div class="md-form">
          <input type="email" id="formEmail" class="form-control" mdbInput mdbValidate
          [formControl]="formEmail">
          <label for="formEmail">E-mail</label>
          <mdb-error
          *ngIf="formEmail.invalid && (formEmail.dirty || formEmail.touched)">
          Input invalid
        </mdb-error>
        <mdb-success
          *ngIf="formEmail.valid && (formEmail.dirty || formEmail.touched)">Input
          valid
        </mdb-success>
        </div>
  
        <!-- Sign in button -->
        <button mdbBtn outline="true" (click)="reset()" type="submit" mdbBtn color="warning" [disabled]="disabledSubmitButton" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
          type="submit">Send</button>
  
      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  </mdb-card>
  <!-- Material form subscription -->

    </div>
</div>