.intro-header {
    height: unset !important;
  }
  .intro-2 {
    background: url("/assets/intro.jpg")no-repeat center center;
    background-size: cover;
  }
  .view {
    height: 100vh !important;
  }
  .top-nav-collapse {
    background: radial-gradient(black, transparent) !important;
  }
  .navbar:not(.top-nav-collapse) {
    background: radial-gradient(black, transparent) !important;
  }
  
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background: radial-gradient(black, transparent) !important;
    }
  }
  .rgba-gradient .full-bg-img {
    background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
  }
  .full-bg-img {
    height: 100%;
  }
  .card {
    background-color: #ffffff;
  }
  
  .md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .md-form label {
    color: #ffffff;
  }
  h6 {
    line-height: 1.7;
  }

  .title{
    font-weight: bold !important;
    font-size: 40px;
  }
  @media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
      height: 1040px;
    }
    .navbar{
      background: #000;
      color: #ffffff;
    }
  }
 