
<section class="my-5">
    <br>
   
    <!-- Grid row -->
    <div class="row mb-5 ">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
          <img class="img-fluid" src="https://images.pexels.com/photos/1181355/pexels-photo-1181355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
        <br>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Where work feels like fun</strong></h3>
        <!-- Excerpt -->
        <p>Unlock the potentials of your company and the people in it, transform 
            your business drastically bt relying on our feasible solutions and community
            approach. There's no greater asset at our disposal than ption.eople, we offer your a chance to unlock
            your employee's potentials by providing them a good work sta
        </p>
        <!-- Post data -->
        <!-- Read more button -->
        <a (click)="goto('workspace')" class="btn btn-warning btn-md">View Spaces</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <br>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
       
        <!-- Post title -->
        <h3 class="font-weight-bold m5-3"><strong>Broaden your network by attending events</strong></h3>
        <!-- Excerpt -->
        <p>A great event isn’t luck or timing. 
            A great event is a great event professional who’s spent countless hours planning,
            e-planning and understanding the ins and outs of this exciting program. 
            It’s the opportunity to execute paired with the careful planning and strategic thinking — two hallmarks of eventprofs!.</p>
        <!-- Post data -->
        
        <!-- Read more button -->
        <a  (click)="goto('events')" class="btn btn-warning btn-md">View Events</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2">
          <img class="img-fluid" src="https://images.pexels.com/photos/1181370/pexels-photo-1181370.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
   <br>
  
    <!-- Grid row -->
    
    <!-- Grid row -->
  
  </section>
  <!-- Section: Blog v.1 -->

  <!-- Section: Blog v.2 -->
<section class=" mt-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Explore Lifthub</h2>
        <!-- Section description -->
        <br>
      
        <!-- Grid row -->
        <div class="row mb-5">      
          <!-- Grid column -->
           
              <div class="col-sm">
                  <a (click)="goto('events')">
              
                    <div class="card-group">
                      
                        <mdb-card>
                          <mdb-card-body>
                              <img class="img-fluid" src="https://images.pexels.com/photos/1181355/pexels-photo-1181355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample image">
           
                          </mdb-card-body>
                        </mdb-card>
                      
                        <mdb-card>
                          <mdb-card-body class="text-center pt-4">
                            <br>
                            <mdb-card-title >
                              <h5>Events</h5>
                            </mdb-card-title>                          
                          </mdb-card-body>
                        </mdb-card>
                      
                       
                      </div>
                    </a>
              </div>
              <div class="col-sm">
                  <a (click)="goto('conference')">
                    
                    <div class="card-group">
                        <mdb-card>
                          <mdb-card-body>
                              <img class="img-fluid" src="https://images.pexels.com/photos/1181406/pexels-photo-1181406.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Sample image">
           
                          </mdb-card-body>
                        </mdb-card>
                      
                        <mdb-card>
                          <mdb-card-body class="text-center pt-4">
                            <br>
                            <mdb-card-title >
                              <h5>Conferences</h5>
                            </mdb-card-title>                          
                          </mdb-card-body>
                        </mdb-card>
                      
                       
                      </div>
                    </a>
              </div>
              <div class="col-sm">
                  <a (click)="goto('training')">
                    <div class="card-group">
                        <mdb-card>
                          <mdb-card-body>
                              <img class="img-fluid" src="https://images.pexels.com/photos/716276/pexels-photo-716276.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Sample image">
           
                          </mdb-card-body>
                        </mdb-card>
                      
                        <mdb-card>
                          <mdb-card-body class="text-center pt-4">
                            <br>
                            <mdb-card-title >
                              <h5>Training</h5>
                            </mdb-card-title>                          
                          </mdb-card-body>
                        </mdb-card>
                      
                       
                      </div>
              
                    </a>
              </div>
                 
      
        </div>
        <!-- Grid row -->
        <div class="row">      
            <!-- Grid column -->            
                <div class="col-sm">
                    <a (click)="goto('workspace')">              
                      <div class="card-group">
                          <mdb-card>
                            <mdb-card-body>
                                <img class="img-fluid" src="https://images.pexels.com/photos/1181355/pexels-photo-1181355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample image">
             
                            </mdb-card-body>
                          </mdb-card>
                        
                          <mdb-card>
                            <mdb-card-body class="text-center pt-4">
                              <br>
                              <mdb-card-title>
                                <h5>Work Space</h5>
                              </mdb-card-title>                          
                            </mdb-card-body>
                          </mdb-card>                        
                         
                        </div>
                      </a>
                </div>
                <div class="col-sm">
                    <a (click)="goto('bedspace')">
                      <div class="card-group">
                          <mdb-card>
                            <mdb-card-body>
                                <img class="img-fluid" src="https://images.pexels.com/photos/1454806/pexels-photo-1454806.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Sample image">
             
                            </mdb-card-body>
                          </mdb-card>
                        
                          <mdb-card>
                            <mdb-card-body class="text-center pt-4">
                              <br>
                              <mdb-card-title>
                                <h5>Bed Space</h5>
                              </mdb-card-title>                          
                            </mdb-card-body>
                          </mdb-card>
                        
                         
                        </div>
              
                      </a>
                </div>
                <div class="col-sm">
                    <a (click)="goto('programs')">
                      <div class="card-group">
                          <mdb-card>
                            <mdb-card-body>
                                <img class="img-fluid" src="https://images.pexels.com/photos/1181355/pexels-photo-1181355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample image">
             
                            </mdb-card-body>
                          </mdb-card>
                        
                          <mdb-card>
                            <mdb-card-body class="text-center pt-4">
                              <br>
                              <mdb-card-title >
                                <h5>Programs</h5>
                              </mdb-card-title>                          
                            </mdb-card-body>
                          </mdb-card>                        
                         
                        </div>
              
                      </a>
                </div>
             
            <!-- Grid column -->
        
            <!-- Grid column -->
           
            <!-- Grid column -->
        
          </div>
      
      </section>
      <!-- Section: Blog v.2 -->
      <br>
      <!-- Section: Blog v.2 -->
<section class="mt-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Work Spaces for all teams</h2>
  <!-- Section description -->
  

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4">
        <img class="img-fluid" src="https://images.pexels.com/photos/389818/pexels-photo-389818.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4">
        <img class="img-fluid" src="https://images.pexels.com/photos/821357/pexels-photo-821357.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-0">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4">
        <img class="img-fluid" src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      
      <!-- Read more button -->
      <a mdbBtn (click)="goto('workspace')" color="info" class="stretched-link" href="">See more</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Blog v.2 -->
<section class="my-5">
  <br>
 
  <!-- Grid row -->
  <div class="row mb-5 ">

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
        <img class="img-fluid" src="https://images.pexels.com/photos/1181355/pexels-photo-1181355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Category -->
      <br>
      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>Programs that are tailored to help harness your skills</strong></h3>
      <!-- Excerpt -->
      <p>Unlock the potentials of your company and the people in it, transform 
          your business drastically bt relying on our feasible solutions and community
          approach. There's no greater asset at our disposal than ption.eople, we offer your a chance to unlock
          your employee's potentials by providing them a good work sta
      </p>
      <!-- Post data -->
      <!-- Read more button -->
      <a (click)="goto('programs')" class="btn btn-info btn-md">View Programs</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <br>

  <!-- Grid row -->
  
  
  <!-- Grid row -->

</section>
<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <!-- Default form subscription -->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Subscribe</p>

  <p>Join our mailing list. We write rarely, but only with the best content.</p>  

  <!-- Name -->
  <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Name">

  <!-- Email -->
  <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="E-mail">

  <!-- Sign in button -->
  <button mdbBtn color="info" block="true" type="submit">Subscribe</button>


</form>
<!-- Default form subscription -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3 pt-5">

      <!-- Excerpt -->
     <br>
      <h4 class="h4 mb-4">Be the first to know</h4>

      <p class="font-weight-normal">Subscribe to learn more about our special opportunities
        from working with us and our partners, the latest events and news
      </p>
      

      

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>