<!-- Jumbotron -->
<mdb-card style="background-image: url('assets/hero-space.jpg')">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      
      <h2 class="card-title h2 my-4 py-2">Discover spaces that suits your needs</h2>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="form-row mb-4">
          <div class="col">
              <!-- Keyword -->
              <input type="text" formControlName="space" class="form-control" placeholder="Keywords [e.g Job,Space]">
          </div>
          <div class="col">
              <!-- Location -->
              <input type="text" formControlName="location"  class="form-control" placeholder="[State,City]">
          </div>
          <div class="col">
             
              <button class="btn btn-warning btn-block"  [disabled]="disabledSubmitButton" type="submit">Search</button>
            </div>

          </div>
        </form>
    </div>
  </div>
</mdb-card>
<!-- Jumbotron -->
  <!-- Jumbotron -->
<!-- Jumbotron -->
<!-- Section: Blog v.2 -->
<section *ngFor="let space of spaces" class="my-5">

<!-- Section heading -->
<h2 class="h1-responsive font-weight-bold my-5">{{space.name}}</h2>

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div *ngFor="let sub of space.sub" class="col-lg-4 col-md-12 mb-lg-0 mb-4 wow fadeInRight animated">

    <!-- Featured image -->
    <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
      <img class="img-fluid" src="{{sub.img}}" alt="Sample image">
      <a>
        <div class="mask text-white pt-5 rgba-white-slight">
          <h5 class="h5-responsive pt-5  font-weight-bold my-5">{{sub.name}}</h5>
        </div>
      </a>
    </div>     

  </div>    
  <!-- Grid column -->
</div>
<div class="row justify-content-end">
    <a routerLink="{{space.link}}" class="blue-text align-self-end">
        <h6 class="font-weight-bold mb-3">See more</h6>
      </a>

  </div>

</section>
