<mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient1.jpg')">
    <div class="text-white  py-5 px-4 my-5">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Work Spaces</strong></h2>
        <p class="lead">Join our community and stay in the know <br>
         Lets help you build your connection
        </p>
       
      </div>
    </div>
  </mdb-card>
  
  <!-- Section: Blog v.1 -->
<section class="my-5 mb-5">
   
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://images.pexels.com/photos/1647919/pexels-photo-1647919.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">  
       
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Re-inventing the future of work</strong></h3>
        <!-- Description -->
        <p>Co-working spaces, serviced offices and flexible spaces available</p>
       
        <!-- See more button -->
        <a mdbBtn color="warning" mdbWavesEffect>See more</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
   
    <!-- Grid row -->
    
  
  </section>
  <div class="row">
    <!-- Card -->
    <a class="col-md-4">
        <mdb-card>     
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>Private Spaces</h4>
              </mdb-card-title> 
           
             
            </mdb-card-body>
          </mdb-card>
    </a>
    <a class="col-md-4">
        <mdb-card>     
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>Shared Spaces</h4>
              </mdb-card-title> 
           
             
            </mdb-card-body>
          </mdb-card>
    </a>
    <a class="col-md-4">
        <mdb-card>     
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>Event Spaces</h4>
              </mdb-card-title> 
           
             
            </mdb-card-body>
          </mdb-card>
    </a>
    
 
  </div>
  <section class="my-5">
   
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://images.pexels.com/photos/1454806/pexels-photo-1454806.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">  
       
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Re-inventing the future of work</strong></h3>
        <!-- Description -->
        <p>Co-working spaces, serviced offices and flexible spaces available</p>
       
        <!-- See more button -->
        <a mdbBtn color="warning" mdbWavesEffect>See more</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
   
    <!-- Grid row -->
    
  
  </section>
