

<div class="row mt-1">
    <div class="col-md-12">   
        <h4 class="h4-responsive text-white py-3 text-center">Bookings </h4>   
        <table mdbTable>
            <!--Table head-->
            <thead class="view gradient-card-header blue darken-2">
            <tr class="text-white">
                <th>#</th>
                <th>Space</th>
                <th>User</th>
                <th>Booking Start</th>
                <th>Booking End</th>
                <th>Amount</th>
              
               
            </tr>
            </thead>
         
            <tbody>                    
            <tr *ngFor="let payment of payments; let i =index">
                <th scope="row">{{i + 1}}</th>
                <td>{{payment.name}}</td>
                <td>{{getUser(payment.customer)}}</td>
                <td>{{payment.bookingStart | date: 'dd/MM/yyyy'}}</td>
                <td>{{payment.bookingEnd | date: 'dd/MM/yyyy'}}</td>         
                <td>{{payment.amount}}</td>              
            </tr>
                
            </tbody>
            <!--Table body-->
        </table>
    </div>
</div>

