<div class="row mt-5">
    <div class="col-md-12">   
        <h4 class="h4-responsive text-white py-3 text-center">Bookings </h4>   
        <table mdbTable>
            <!--Table head-->
            <thead class="view gradient-card-header blue darken-2">
            <tr class="text-white">
                <th>#</th>
                <th>Space</th>
                <th>User</th>
                <th>Booking Start</th>
                <th>Booking End</th>
            </tr>
            </thead>
         
            <tbody>                    
            <tr *ngFor="let book of bookings; let i =index">
                <th scope="row">{{i + 1}}</th>
                <td>{{getSpace(book.spaceId)}}</td>
                <td>{{getUser(book.user)}}</td>
                <td>{{book.bookingStart | date: 'dd/MM/yyyy'}}</td>
                <td>{{book.bookingEnd | date: 'dd/MM/yyyy'}}</td>                             
            </tr>
                
            </tbody>
            <!--Table body-->
        </table>
    </div>
</div>

