
<!-- <a data-toggle="modal" data-target="#basicExample"   (click)="openLogin()" mdbWavesEffect class="nav-link" href="#">Sign In</a> -->

<div>
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-1" id="myModalLabel">
          <strong>Sign In</strong>
        </h3>
        <p class="modal-title w-100 text-danger font-weight-bold my-1" color="danger" *ngIf="errMsg">{{errMsg}}</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-2">
        <!--Body-->
        <form>

          <div class="md-form mb-2">
            <input type="text" id="Form-username" class="form-control" mdbInput mdbValidate
                   [formControl]="modalFormElegantUsername">
            <label for="Form-username">Your Username</label>
            <mdb-error
              *ngIf="modalFormElegantUsername.invalid && (modalFormElegantUsername.dirty || modalFormElegantUsername.touched)">
              Input invalid
            </mdb-error>
            <mdb-success
              *ngIf="modalFormElegantUsername.valid && (modalFormElegantUsername.dirty || modalFormElegantUsername.touched)">Input
              valid
            </mdb-success>
          </div>
  
          <div class="md-form">
            <input type="password" id="Form-pass1" class="form-control" mdbInput mdbValidate
                   [formControl]="modalFormElegantPassword">
            <label for="Form-pass1">Your password</label>
            <mdb-error
              *ngIf="modalFormElegantPassword.invalid && (modalFormElegantPassword.dirty || modalFormElegantPassword.touched)">
              Input invalid
            </mdb-error>
            <mdb-success
              *ngIf="modalFormElegantPassword.valid && (modalFormElegantPassword.dirty || modalFormElegantPassword.touched)">
              Input valid
            </mdb-success>
            <p class="font-small blue-text d-flex justify-content-end">Forgot
              <a (click)="forgot()" class="blue-text ml-1"> Password?</a>
            </p>
          </div>
  
          <div class="text-center">
            <button (click)="login()" type="submit" mdbBtn color="warning" block="true" [disabled]="disabledSubmitButton" rounded="true" class="z-depth-1a waves-light"
                    mdbWavesEffect>Sign In
            </button>
          </div>
        </form>
        <!-- <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign In
          with:</p>

        <div class=" mx-1 row  d-flex justify-content-center">        
         
          <button (click)="googleLogin()" type="submit" mdbBtn color="white" block="true"  rounded="true" class="z-depth-1a waves-light"
          mdbWavesEffect><mdb-icon fab icon="google"></mdb-icon>
        </button>
          
        </div> -->
      </div>
      <!--Footer-->
      <div class="modal-footer mx-3 pt-2 mt-3">
        <p class="font-small grey-text d-flex justify-content-end">Not a member? 
          <a data-toggle="mods" data-target="#basicExample"   (click)="openSignUp()" class="blue-text ml-1"> Sign Up</a>
        </p>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
 