
<flash-messages></flash-messages>
   <div class="row mb-5 pb-5">
    <div *ngIf="success" class="alert alert-warning" role="alert">
      This is a warning alert—check it out!
    </div>
    <div class="col-lg-8 mb-5 pt-5">
      <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
        <mdb-carousel-item *ngFor="let img of space.details.img">
          <img class="d-block w-100" src="{{img}}" alt="First slide">
        </mdb-carousel-item>             
      </mdb-carousel>
      <div style="height: 50px;" class="row mb-5">
        
      </div>
    </div>
    <br>
    <div class="col-lg-4 pt-5">
        <app-bookingform (onSuccess)="successMsg($event)"></app-bookingform>
    </div>
    
</div>
<div class="row pt-5 mb-5 pb-5">
    <p>{{space.details.description}}</p>
</div>

