<app-user-nav></app-user-nav>

<div class=" reset">
    <div class="row">
        <!-- Material form subscription -->
<mdb-card>

    <mdb-card-header class="warning-color white-text text-center py-4">
      <h5>
        <strong>Reset Password</strong>
      </h5>
    </mdb-card-header>
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5">
  
      <!-- Form -->
      <form class="text-center" style="color: #757575;">
  
        <p class="text-white">A reset email will be sent to your mail for confirmation</p>
  
        <div class="md-form">
            <input type="email" id="Form-email1" class="form-control" mdbInput mdbValidate
                   [formControl]="formEmail">
            <label for="Form-email1">Your email</label>
            <mdb-error
              *ngIf="formEmail.invalid && (formEmail.dirty || formEmail.touched)">
              Input invalid
            </mdb-error>
            <mdb-success
              *ngIf="formEmail.valid && (formEmail.dirty || formEmail.touched)">Input
              valid
            </mdb-success>
          </div>
          <div class="md-form">
            <input type="password" id="Form-pass1" class="form-control" mdbInput mdbValidate
                   [formControl]="formPassword">
            <label for="Form-pass1">Your password</label>
            <mdb-error
              *ngIf="formPassword.invalid && (formPassword.dirty || formPassword.touched)">
              Input invalid
            </mdb-error>
            <mdb-success
              *ngIf="formPassword.valid && (formPassword.dirty || formPassword.touched)">
              Input valid
            </mdb-success>          
          </div>
        
          <div class="md-form">
            <input type="password" id="Form-pass1" class="form-control" mdbInput mdbValidate
                   [formControl]="formConfirmPassword">
            <label for="Form-pass1">Confirm Password</label>           
            <mdb-error
            *ngIf="validatingForm.errors?.invalid && formConfirmPassword.dirty">
              Password does not Match
            </mdb-error>
            <br>
            <mdb-success
              *ngIf="formConfirmPassword.valid && (formConfirmPassword.dirty || formConfirmPassword.touched)">
              Input valid
            </mdb-success>          
          </div>  
  
        <!-- Sign in button -->
        <button mdbBtn outline="true" (click)="reset()" type="submit" mdbBtn color="warning" [disabled]="disabledSubmitButton" rounded="true" block="true" class="z-depth-0  waves-effect" mdbWavesEffect
          type="submit">Reset</button>
  
      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  </mdb-card>
  <!-- Material form subscription -->

    </div>
</div>